{% extends 'files/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Display success message if it exists -->
{% if messages %}
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<!-- Content Row -->
<div class="row">

    <!-- Pending Requests Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pending_requests.count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Remitted Payments Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Remitted Payments</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ remitteds.count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Info Messages Card -->
    <div class="col-xl-6 mb-4">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Important Message</h6>
            </div>
            <div class="card-body">
                {% if Info_Messages %}
                {% for message in Info_Messages %}
                <h6 class="font-weight-bold">{{ message.subject }}</h6>
                <p>{{ message.message }}</p>
                {% endfor %}
                {% else %}
                <p>No info messages available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Custom Actions -->
    <div class="col-lg-12 mb-4">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Custom Actions</h6>
            </div>
            <div class="card-body text-center text-lg-right">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <a href="{% url 'payment_channel' %}" class="btn btn-success btn-block">Payment Channel</a>
                    </div>
                    <div class="col-md-6 mb-3">
                        <a href="{% url 'payments_remmitted' %}" class="btn btn-info btn-block">Payments Remitted</a>
                    </div>
                    <div class="col-md-6 mb-3">
                        <a href="{% url 'make_liquidation_request' %}" class="btn btn-warning btn-block">Make
                            Liquidation Request</a>
                    </div>
                    <div class="col-md-6 mb-3">
                        <a href="{% url 'liquidation_feedback' %}" class="btn btn-danger btn-block">Liquidation
                            Feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}